<ion-view class="messages-page" cache-view="false">
  <ion-content class="messages-content padding gray-bg" style="background-color:#4f5354;">
    <ion-list class="subject-list">
      <ion-item class="item-avatar item-icon-right" ng-repeat="friend in friends | orderBy:'-dahleTime'" ng-click="sendDahle(friend)">
        <identicon style="border: 8px solid #4bacc6;top: 10px" username='friend.phone_number ' size='26'></identicon>
        <p class="subject-description">{{contactObject[friend.phone_number]&&contactObject[friend.phone_number].name ||
          friend.nickname}}</p>
        <span class="subject-time" am-time-ago="friend.dahleTime"></span>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer add-subject-fotter">
    <div ng-click="invite()" class="create-subject-btn ion-plus">

    </div>

  </div>
</ion-view>
