<ion-view class="messages-page" cache-view="false">
  <ion-content class="messages-content padding gray-bg"  style="background-color:#4f5354;">
    <ion-list class="contact-phone-list">

      <!--<ion-item ng-click="" class="item-avatar item-icon-right" ng-repeat="friend in friendList">-->
        <!--<identicon ng-if="!message.fbPhotoUrl" username='friend.phoneNumber ' size='26'></identicon>-->
        <!--&lt;!&ndash;<img ng-if="message.fbPhotoUrl" ng-src="{{message.fbPhotoUrl}}">&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="last-message"><span ng-if="!message.userName">X </span><span>{{message.userName}}</span>: {{message.lastMessage}}</p>&ndash;&gt;-->
        <!--<p class="subject-description">{{friend.phoneNumber }}</p>-->
        <!--&lt;!&ndash;<i ng-class="message.readMessage ? 'message-unread' : (!message.readMessage ? 'message-read' : 'message-unread')" ng-click="goToChat(message)" class="icon ion-chevron-right"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="icon ion-record online-offline" ng-class="{'online-circle': message.online, 'offline-circle': !message.online}"></i>&ndash;&gt;-->
        <!--</ion-item>-->
        <ion-checkbox ng-model="contact.isSelected" ng-repeat="contact in contacts" ng-mousedown="selectContact(contact)">
          <ion-item ng-click="" class="item-avatar item-icon-right" >

         <!-- <identicon  username='selectedPerson.phoneNumber ' size='26'></identicon>-->
          <!--<img ng-if="message.fbPhotoUrl" ng-src="{{message.fbPhotoUrl}}">-->
          <p class="contact-phone-items">{{contact.name  }}</p>
              <p class="subject-description">{{contact.phoneNumber}}</p>
          </ion-item>
        </ion-checkbox>
        <!--<i ng-class="message.readMessage ? 'message-unread' : (!message.readMessage ? 'message-read' : 'message-unread')" ng-click="goToChat(message)" class="icon ion-chevron-right"></i>-->
        <!--<i class="icon ion-record online-offline" ng-class="{'online-circle': message.online, 'offline-circle': !message.online}"></i>-->

    </ion-list>
  </ion-content>
  <div class="bar bar-footer add-subject-fotter">
    <div ng-click="sendBtn()"  class="create-subject-btn ion-paper-airplane">

    </div>

  </div>
</ion-view>
